body {
    font-size: 96px;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(180, 180, 180);
    margin: 1px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    user-select: none;
}

.btn.cmd {
    background-color: rgb(255, 100, 80);
}

.btn.cmd.eq {
    background-color: rgb(25,150,255);
}

.result {
    width: 404px;
    height: 100px;
    background-color: rgb(80,80,80);
    border-radius: 15px;
    color: white;

}